doctype html
html(ng-app="footballApp")
  head
    title Fótboltasíða
    link(rel='stylesheet', href='/stylesheets/angular-motion.min.css')
    link(rel='stylesheet', href='/stylesheets/fullcalendar.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/lib/jquery.js')
    script(src='/javascripts/lib/jquery-ui.js')
    script(src='/javascripts/lib/angular.js')
    script(src='/javascripts/lib/angular-resource.js')
    script(src='/javascripts/lib/angular-route.js')
    script(src='/javascripts/lib/angular-sanitize.js')
    script(src='/javascripts/lib/angular-animate.js')
    script(src='/javascripts/lib/ui-bootstrap-tpls-0.12.0.js')
    script(src='/javascripts/lib/angular-strap.min.js')
    script(src='/javascripts/lib/angular-strap.tpl.min.js')
    script(src='/javascripts/lib/moment.min.js')
    script(src='/javascripts/lib/calendar.js')
    script(src='/javascripts/lib/fullcalendar.js')

    script(src='/javascripts/football.js')
  body
    block content