doctype html
html(ng-app="footballApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/angular-motion.min.css')
    link(rel='stylesheet', href='/bower_components/fullcalendar/fullcalendar.css')
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    script(src='/bower_components/jquery/jquery.js')
    script(src='/bower_components/jquery-ui/ui/jquery-ui.js')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/angular-resource.js')
    script(src='/javascripts/angular-route.js')
    script(src='/javascripts/angular-sanitize.js')
    script(src='/javascripts/angular-animate.js')
    script(src='/javascripts/ui-bootstrap-tpls-0.12.0.js')
    script(src='/bower_components/angular-strap/dist/angular-strap.min.js')
    script(src='/bower_components/angular-strap/dist/angular-strap.tpl.min.js')
    script(src='/bower_components/angular-ui-calendar/src/calendar.js')
    script(src='/bower_components/fullcalendar/fullcalendar.js')

    script(src='/javascripts/football.js')
  body
    block content