doctype html
html(ng-app="footballApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/angular.js')
    script(src='/javascripts/angular-resource.js')
    script(src='/javascripts/angular-route.js')
    script(src='/javascripts/football.js')
  body
    block content