div
    div(ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" id="myCalendar")

    table#stodutafla
        h1= "Staða í deild"
        tbody
            tr
                th#tsaeti Sæti
                th#tlid Lið
                th
                th#tmarkatala Markatala
                th#tmarkamunur Munur
                th#tstig Stig
            tr#row(ng-repeat="rank in rankings" ng-click="toggleTeam(rank.team)" ng-class="{selected: rank.team === selectedTeam}" ng-class-odd="'odd'")
                td#saeti {{rank.rank}}    
                td#mynd 
                    img(class="logo" src="{{rank.crestURI}}") 
                td#lid {{rank.team}}
                td#markatala {{rank.goals}} : {{rank.goalsAgainst}}
                td#markamunur {{rank.goalDifference > 0 ? '+' : ''}}{{rank.goalDifference}}
                td#stig {{rank.points}}
    h1= "Leikir - {{matchday}}. umferð"
    button(ng-click="prevMatchday()") Fyrri
    button(ng-click="nextMatchday()") Næsta
    div#fixtures
        div(ng-repeat="fixture in fixtures | filter: filterFunction | orderBy:'date':true")
            {{fixture.date | date:'dd/MM/yyyy kl. HH:mm'}}
            img(class="logo" src="{{logos[fixture.homeTeam]}}")
            {{fixture.homeTeam}} {{fixture.goalsHomeTeam}} - {{fixture.goalsAwayTeam}} {{fixture.awayTeam}}
            img(class="logo" src="{{logos[fixture.awayTeam]}}")
