div(ng-controller='RankingsController')
    h1= "Staða"

    div(ng-repeat="rank in rankings")
        {{rank.rank}} {{rank.team}}

    h1= "Leikir"

    div(ng-repeat="fixture in fixtures")
        {{fixture.homeTeam}} {{fixture.goalsHomeTeam}} - {{fixture.goalsAwayTeam}} {{fixture.awayTeam}}