div(ng-controller='RankingsController')
    h1= "Staða"

    div(ng-repeat="rank in rankings" ng-click="toggleTeam(rank.team)" ng-class="{selected: rank.team === selectedTeam}")
        {{rank.rank}} {{rank.team}}

    h1= "Síðustu leikir"
    div(ng-repeat="fixture in prevFixtures | filter: selectedTeam")
        {{fixture.date | date:'dd/MM/yyyy kl. HH:mm'}} {{fixture.homeTeam}} {{fixture.goalsHomeTeam}} - {{fixture.goalsAwayTeam}} {{fixture.awayTeam}}

    h1= "Næstu leikir"
    div(ng-repeat="fixture in prevFixtures | filter: selectedTeam")
        {{fixture.date | date:'dd/MM/yyyy kl. HH:mm'}} {{fixture.homeTeam}} - {{fixture.awayTeam}}