div
	h1(class="adaltitill")= "Fótboltasíða"

	p(class="forsidutexti").
		Velkominn á fótboltasíðuna okkar. Þessi síða var gerð
		fyrir lokaverkefni í vefforritun. Á síðunni eru upplýsingar
		um stöðu og leiki í stærstu fótboltadeildum Evrópu. Efst á síðunni
		má velja deild og skoða stöðu liða og einnig er dagatal og yfirlit leikjaumferða sem sýna
		alla leiki ársins í þeirri deild. Eini má velja lið í deildinni
		og sjá hvenær allir leikir liðsins eru á dagatali og fyrir neðan.
		Neðst á síðunni koma fram höfundar síðunnar og takk til að komast aftur á forsíðu.

