extends partials/layout



block content
	nav
		ul
			li
				p England
				ul
					li(class="undirlisti")
						a(href="#/rankings/354") Premier League
			li
				p Spánn
				ul
					li(class="undirlisti")
						a(href="#/rankings/358") Primera Division
					li(class="undirlisti")
						a(href="#/rankings/359") Segunda Division
			li
				p Þýskaland
				ul
					li(class="undirlisti")
						a(href="#/rankings/351") 1. Bundesliga
					li(class="undirlisti")
						a(href="#/rankings/352") 2. Bundesliga
					li(class="undirlisti")
						a(href="#/rankings/353") 3. Bundesliga
			li
				p Ítalía
				ul
					li(class="undirlisti")
						a(href="#/rankings/357") Serie A
					li(class="undirlisti")
						a(href="#/rankings/361") Serie B
			li
				p Frakkland
				ul
					li(class="undirlisti")
						a(href="#/rankings/355") Ligue 1
					li(class="undirlisti")
						a(href="#/rankings/356") Ligue 2
			li
				p Holland
				ul
					li(class="undirlisti")
						a(href="#/rankings/360") Eredivisie


	div(ng-view)

	footer
		p Lokaverkefni í forritun |
		p | Arnór Valdimarsson |
		p | Arnþór Helgi Sverrisson |
		p | Tómas Þorbjarnarson |
		a(href="/" class="heim") Heim