doctype html
html(ng-app="footballApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='javascripts/angular.js')
    script(src='javascripts/angular-resource.js')
  body
    block content