body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.logo {
    max-width: 30px;
    max-height: 30px;
}

.popover {
	max-width: 600px;
}

.eventButton {
	padding: 0px;
	font-size: 0.8em;
}

.calendar {
    width: 450px;
}

.selectedEvent {
	background-color: #FF0000;
}

.selectedEvent:hover {
	background-color: #FF0000;
}

.fc-event-title {
   white-space: nowrap;
   overflow: hidden;
}


nav{
	background: #8B8B8B;
	width: 100%;
	position: fixed;
	opacity: 0.85;
	top: 0;
	height: 4em;
	left: 0;
	z-index: 1000;
}
ul{
	padding: 0;
	list-style: none;
}
ul li{
	float: left;
	width: 15%;
	text-align: center;
	text-transform: uppercase;
	margin: 0.5% 1% 0% 0.65%;
	font-weight: bold;
	padding: 0.5em;
}
.undirlisti{
	width: 100%;
}
ul li a{
	display: block;
	padding: 5px 10px;
	color: #333;
	background: #f2f2f2;
	text-decoration: none;
}
ul li p{
	display: block;
	padding: 5px 10px;
	color: #333;
	background: #f2f2f2;
	text-decoration: none;
	cursor: default;
}
ul li p:hover{
	color: #fff;
	background: #939393;
}
ul li a:hover{
	color: #fff;
	background: #939393;
}
ul li ul{
	display: none;
}
ul li:hover ul{
	display: block;
}

#stodutafla
{
  margin-left:5rem;
}

footer{
	background: #8B8B8B;
	width: 100%;
	position: fixed;
	opacity: 0.85;
	bottom: 0;
	height: 4em;
	left: 0;
	z-index: 1000;
}

footer p{
	float: left;
}

.odd
{
  background-color: #E0E0EB;
}

.selected {
    background-color: #3A87AD;
    color: #FFFFFF;
}

#lid
{
  width: 17rem; 
}
#stig
{
  width: 5rem;
  text-align: center;
}
#markatala
{
  width: 7rem;
  text-align: center;
}
#markamunur
{
  width: 7rem;
  text-align: center;   
}
#tmarkatala
{
  width: 7rem;
  text-align: center;
}
#tmarkamunur
{
  width: 7rem;
  text-align: center;   
}
#tstig
{
  width: 5rem;
  text-align: center;
}
#saeti
{
  padding-left:5px;
  width: 3.6rem;
}
#mynd
{
  width:4rem;  
}
#fixtures
{
  max-height: 30rem;
  overflow-y: scroll;
  width: 65rem;
  margin-bottom:5rem; 
}
#naest
{
  max-height: 30rem;
  overflow-y: scroll;
  width: 65rem;
  margin-bottom:5rem; 
}
#myCalendar{
  float:right;
  margin-right:10rem;
}
