body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.selected {
    background-color: #00FF00;
}

.logo {
    max-width: 30px;
    max-height: 30px;
}

.calendar {
    width: 450px;
}

.fc-event-title {
   white-space: nowrap;
   overflow: hidden;
}